*,html,body {
	padding:0;
	margin:0;
}
.clear {
	clear:both;
}
#form1 {
	width:400px;
	margin:0 auto;
}
header {
	background:black;
}
header p {
	color:white;
}
header #fv {
	float:left;
}
header #menu {
	float:right;
}
#modal {
	display:none;
	width:300px;
	height:100%;
	position: fixed;
	top:0;
	left:0;
	background:grey;
	z-index:9999;
}
#content {
	margin : 0 auto;
	width:80%;
}
#mr {
	z-index:999999;
	position:absolute;
	top:30;
	padding-top:10px;
	right:10px;
	width:230px;
	height:50px;
	background:green;
	color:white;
	border-radius: 20px;
	text-align:center;
	font-size:20px;
}